@model List<Backoffice.Models.Customer>

@{
    ViewData["Title"] = "Search customer";
}

<form asp-controller="Customer" asp-action="Index">
    <p>
        Document Number: <input type="text" name="documentNumber" />
        <input type="submit" value="Filter" />
    </p>
</form>

@{
    if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].DocumentNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Updated)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocumentNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Updated)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}